* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
input {
  outline: none;
}
button {
  border: none;
}
.section-title {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.33px;
  font-family: "Lobster", sans-serif;
}
.navleft {
  display: flex;
  align-items: center;
}
.title {
  font-family: "Lobster", sans-serif;
  color: white;
  line-height: 100%;

  font-size: 100px;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
}
.hero {
  flex-grow: 1;
}
.hero-conteiner {
  height: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-btn {
  display: none;
}
main {
  flex-grow: 1;
}
.conteiner {
  width: 100%;
  max-width: 1452px;
  margin: 0 auto;
  padding: 20px;
}
header {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-image: url("../img/png/fon-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 28.5px;
  padding-bottom: 33px;
}

.stnav-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sitnav-link {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -o.33px;
  color: white;
}
.nav-link:hover {
  color: #f39c11;
}
.sitenav-icon {
  display: flex;
  gap: 30px;
}
@media (max-width: 1200px) {
  .title {
    font-size: 80px;
  }
  .about-img img {
    width: 487px;
    height: 437px;
  }
  text {
    font-size: 15px;
  }
}
@media (max-width: 900px) {
  .sitenav-icon a img {
    width: 50px;
    height: 50px;
  }
  .logo {
    width: 160px;
    height: 75px;
  }
  .title {
    font-size: 60px;
  }
  .about-img img {
    width: 400px;
    height: 337px;
  }
}
@media (max-width: 768px) {
  .sitnavlink {
    display: none;
  }
  .about-img img {
    display: none;
  }
  .about {
    padding:;
  }
}

@media (max-width: 500px) {
  header {
    background-image: url("../img/png/header-bg.png");
  }

  .sitenav-icon {
    gap: 10px;
  }
}

@media (max-width: 420px) {
  .title {
    font-size: 30px;
  }

  .about-img2 {
    display: flex;
    width: 300px;
    height: 200px;
  }
}
/* main  */
.about-conteiner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.text {
  padding-bottom: 30px;
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  font-size: 20px;
  color: #555555;
}

.about {
  background-color: #fff4d8;
  padding: 82px 0;
}
.about-intro {
  width: 100%;
  max-width: 554px;
  align-items: center;
}

.about-intro .section-title {
  margin-bottom: 33px;
}
.btn {
  padding-top: 53px;
  padding: 20px 30px;
  background-color: #f39c11;
  color: white;
  border-radius: 10px;
}
.about-img2 {
  display: none;
}
