* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
input {
  outline: none;
}
button {
  border: none;
}
.section-title {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.33px;
  font-family: "Lobster", sans-serif;
}
.navleft {
  display: flex;
  align-items: center;
}
.title {
  font-family: "Lobster", sans-serif;
  color: white;
  line-height: 100%;

  font-size: 100px;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
}
.hero {
  flex-grow: 1;
}
.hero-conteiner {
  height: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-btn {
  display: none;
}
main {
  flex-grow: 1;
}
.conteiner {
  width: 100%;
  max-width: 1452px;
  margin: 0 auto;
  padding: 20px;
}
header {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-image: url("../img/png/fon-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 28.5px;
  padding-bottom: 33px;
}

.stnav-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sitnav-link {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -o.33px;
  color: white;
}
.nav-link:hover {
  color: #f39c11;
}
.sitenav-icon {
  display: flex;
  gap: 30px;
}
@media (max-width: 1200px) {
  .title {
    font-size: 80px;
  }
  .about-img img {
    width: 487px;
    height: 437px;
  }
  .americano3 {
    display: flex;
    gap: 22px;
    margin: 0 auto;
    background-color: #fff4d8;
  }
}
@media (max-width: 900px) {
  .sitenav-icon a img {
    width: 50px;
    height: 50px;
  }
  .logo {
    width: 160px;
    height: 75px;
  }
  text {
    font-size: 15px;
  }
  .americano3 {
    display: flex;
    flex-direction: column;
    gap: 22px;

    margin: 0 auto;
    background-color: #fff4d8;
  }
  .title {
    font-size: 60px;
  }
  .about-img img {
    width: 400px;
    height: 337px;
  }
}
@media (max-width: 768px) {
  .sitnav-link {
    display: none;
  }
  .about-img img {
    display: none;
  }
  .text7 {
    width: 200px;
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 500px) {
  header {
    background-image: url("../img/png/header-bg.png");
  }
  .dd {
    display: none;
  }
  .text4 {
    width: 200px;
    font-size: 10px;
  }
  .about-img2 {
    display: flex;
    width: 349px;
    height: 313px;
  }
  .about-intro {
    text-align: center;
  }
  .americano3 {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 350px;
    margin: 0 auto;
    background-color: #fff4d8;
  }
  .sitnav-conteiner {
    flex-direction: column;
    gap: 20px;
    padding: 0 5px;
  }
  .sitenav-icon {
    gap: 10px;
  }

  .features-head {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 420px) {
  .title {
    font-size: 30px;
  }

  .about-conteiner {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 390px) {
  .americano3 {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 200px;
    margin: 0 auto;
    background-color: #fff4d8;
  }
} /* main */
.about-conteiner {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.text {
  padding-bottom: 30px;
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  font-size: 20px;
  color: #555555;
}

.about {
  background-color: #fff4d8;
  padding: 82px 0;
}
.about-intro {
  width: 100%;
  max-width: 554px;
  align-items: center;
}

.about-intro .section-title {
  margin-bottom: 33px;
}
.btn {
  padding-top: 53px;
  padding: 20px 30px;
  background-color: #f39c11;
  color: white;
  border-radius: 10px;
}
.about-img2 {
  display: none;
}
/* section */
.features-intro {
  display: flex;
  align-items: center;
  justify-content: center;
}
.features {
  background-color: #3d210c;
  color: #fff4d8;
  padding: 89px 0;
  text-align: center;
  align-items: center;
}
.features-conteiner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.features-head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.text2 {
  font-family: "Rubik", sans-serif;
  line-height: 20px;
  letter-spacing: -0.33px;
  font-size: 15px;
  width: 227px;
}
.shop {
  padding-bottom: 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2 {
  font-family: "Rubik", sans-serif;
  line-height: 40px;
  font-size: 30px;
  letter-spacing: -0.33px;
  padding-bottom: 15px;
}
/* section */
.our-menu {
  background-color: #fff4d8;
}
.americano {
  width: 444px;
  height: 625px;
  background-color: white;
  padding: 23px;
  border-radius: 20px;
  margin-bottom: 76px;
}
.americano-coffee {
  padding-top: 21px;
  font-size: 30px;
  font-family: "Rubik", sans-serif;
  line-height: 40px;
  letter-spacing: -0.33px;
}
.yulduz {
  display: flex;
  align-items: center;
  gap: 9px;
  padding-top: 9px;
  color: #555555;
}
.text3 {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -o.33px;
  color: #555555;
}
.son3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.son2 {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.33px;
  padding-top: 37px;
}
.ShoppingCartSimple {
  width: 182px;
  height: 60px;
  margin-top: 27px;
  border-radius: 10px;
  padding: 0 18.5px;
  background-color: white;
  display: flex;
  color: #f39c11;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #f39c11;
}
.americano3 {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 21px;
}
.btn12 {
  display: flex;
  justify-content: right;
  padding-top: 29px;
}
.our-menu-conteiner {
  padding: 59px 20px 0 20px;
}
.qqq {
  width: 398px;
  height: 273px;
}
/* footer */
.sit-nav {
  background-color: #3d210c;
  color: #fff4d8;
}
.sitnav-conteiner {
  padding: 62px 14px 40px 14px;
  display: flex;
  gap: 72px;
}
.text4 {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  padding-top: 40px;
  line-height: 30px;
  letter-spacing: -o.33px;
  width: 457px;
}
.iconss {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-top: 27px;
}
.contact {
  font-family: "Rubik", sans-serif;
  font-size: 25px;
  line-height: auto;
  letter-spacing: -0.33px;
  padding-top: 20px;
}

.abs {
  display: flex;
  align-items: center;
  gap: 14px;
}
.text5 {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: auto;
  letter-spacing: -0.33px;
  padding-bottom: 25px;
  padding-top: 26px;
}
.hhh .contact {
  padding-bottom: 18px;
}
.fff {
  padding-top: 24px;
}
input {
  max-width: 457px;
  height: 64px;
  padding: 20px;
  margin-top: 18px;
  border-radius: 10px;
}
.text6 {
  font-family: "Rubik", sans-serif;
  font-size: 25px;
  line-height: auto;
  letter-spacing: -0.33px;
  font-style: italic;
  padding-top: 24px;
}
.dd {
  width: 1405.5px;
  margin: 0 auto;
}
.text7 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 26px;
  padding-bottom: 40px;
}
