* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
a {
  text-decoration: none;
}
input {
  outline: none;
}
button {
  border: none;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
}
main {
  flex-grow: 1;
}
.conteiner {
  width: 100%;
  max-width: 1412px;
  margin: 0 auto;
}
header {
  background-image: url("../img/png/fon-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-top: 28.5px;
  padding-bottom: 33px;
}
.site-nav {
}

.stnav-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sitnav-link {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav-link {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -o.33px;
  color: white;
}
.nav-link:hover {
  color: #f39c11;
}
.sitenav-icon {
  display: flex;
  gap: 26px;
}
